.inputBox{
    width: 80%;
    font-size: 20px;
    padding: 5px;
    margin-top: 20px;
}

.dateBox{
    /* width: 30%; */
    margin: auto;
    text-align: center;
    flex: 1;
}

.head{
    text-align: center;
    
}

.spreadBox{
    /* border: 1px solid black; */
    display: flex;
   
}

.spreadBox > div:nth-child(2) {
    /* border: 1px solid black; */
    flex: 3;
    margin-left: 50px;
    padding-left: 50px;
}